<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
                <text>Authorizing...</text>
            </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, no awesome game here!</p>
            </LayoutView>>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
